{% extends 'base.html' %}

{% block title %}
    Password Manager - Delete Generated Password
{% endblock %}

{% block content %}

   <form action="" method="post" enctype="multipart/form-data" class="container my-4">
        <h3 class="text-danger my-3 text-center">ARE YOU SURE YOU WANT TO DELETE GENERATED PASSWORD SAVED FOR
        <span class="text-secondary">"{{ password_obj.password_belongs_to }}" ?</span></h3>
        {% csrf_token %}

        <input type="submit" class="btn btn-danger my-3 rounded shadow-sm mx-auto" value="Yes, Delete this password!">
        <a class="btn btn-warning my-3 rounded shadow-sm mx-auto" href={% url 'passwords:generated_passwords' %}>Nope, take me back</a>
    </form>
{% endblock %}