{% extends 'base.html' %}

{% block title %}
    Password Manager - Password Detail
{% endblock %}

{% block content %}

    <div class="container my-3">
       <h3 class="my-2">PASSWORD DETAIL</h3>
       <div class="container-fluid">
          <img class="card-img-top w-50 mx-auto my-3 rounded" alt="Card image cap" src={{ passwordObj.hint_image.url }} >
          <div class="card-body">
            <h5 class="card-title">Password is for <span class="text-success">{{ passwordObj.password_belongs_to }}</span>,
                belongs to <span class="text-primary">{{ passwordObj.linked_category.category_name }}</span></h5>
            <p class="card-text">First Password hint :- {{ passwordObj.password_hint_one }}</p>
            <p class="card-text">Second Password hint :- {{ passwordObj.password_hint_two }}</p>
            <p class="password_reveal">Still cannot figure out our password ?,
                <span class="reveal_password_click" data-target={{ passwordObj.get_real_password }}>use reveal Password</span> </p>
            <a class="btn btn-primary" href={% url 'passwords:update_hints' pk=passwordObj.id %}>Update Hints</a>
            <a class="btn btn-success" href={% url 'passwords:update_password' pk=passwordObj.id %}>Update Password</a>
            <a class="btn btn-danger" href={% url 'passwords:delete_password' pk=passwordObj.id %}>Delete Password</a>
          </div>
       </div>

    </div>

{% endblock %}