{% extends 'base.html' %}

{% block title %}
    Password Manager - Generate Random Password
{% endblock %}

{% block content %}

    <form class="container" method="post" enctype="multipart/form-data">
        <h2 class="text-center text-success my-3">GENERATE NEW PASSWORD</h2>
        {% csrf_token %}
        {% for each_field in form %}
            <div class="form-group">
                <label for={{ each_field.name }}>{{ each_field.label }}</label>
                {{ each_field }}
            </div>
       {% endfor %}

        {% if form.errors %}
        <h3 class="text-danger my-3 text-center">You have errors in form, please correct them and try again!</h3>
          <ul>
            {% for key,value in form.errors.items %}
              <li class="alert alert-danger" role="alert">{{ value|escape }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <input type="submit" class="btn btn-success rounded shadow-sm mx-auto" value="Generate New Password">
    </form>

{% endblock %}