{% extends 'base.html' %}

{% block title %}
    Password Manager - List Generated Passwords
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

    <div class="container">
        {% if not generated_passwords.count %}
            <h3 class="text-center text-warning my-3">Hey {{ request.user.username }}, It seems you haven't generated any
            password as of now.</h3>
        {% else %}
            <h3 class="text-center text-warning my-3">Hey {{ request.user.username }}, You have stored
                {{ generated_passwords.count }} passwords.</h3>
            {% for each_password in generated_passwords %}
                <div class="container-fluid shadow border-dark p-3 my-3">
                    <div class="d-md-flex d-sm-block d justify-content-between">
                        <h4 class="text-success">{{ each_password.password_belongs_to }}</h4>
                        <div class="container_fluid">
                            <a class="btn btn-danger m-1" href={% url 'passwords:delete_generated_password' pk=each_password.id %}>Delete Password</a>
                            <button class="btn btn-secondary m-1 reveal_password_button" data-target={{ each_password.get_real_password }}>
                                View Password</button>
                            <a class="btn btn-warning m-1" href={% url 'passwords:update_generated_password' pk=each_password.id %}>Update Password</a>
                        </div>
                    </div>
                    <p class="text-secondary">
                        Password Description :- {{ each_password.password_description }}
                    </p>
                    <p>
                        Security Level :- {{ each_password.security_level }}
                    </p>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}