{% extends 'base.html' %}

{% block title %}
    Password Manager - Passwords Home
{% endblock %}

{% block content %}

    <div class="container">
         <h2 class="text-success my-3 text-center">MANAGE ALL YOUR PASSWORDS</h2>
         <ul class="list-group">
             {% for each_category in user_categories %}
                 <li class="list-group-item">
                     <div class="d-flex justify-content-between">
                        <p>
                            {{ each_category.category_name }}
                        </p>
                         <button class="btn btn-secondary">Add New Password</button>
                     </div>
                 </li>
             {% endfor %}
         </ul>

    </div>

{% endblock %}