{% extends 'base.html' %}

{% block title %}
    Password Manager - Passwords Home
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="container">
         <h2 class="text-success my-3 text-center">MANAGE ALL YOUR PASSWORDS</h2>
         <ul class="list-group">
             {% for each_category in user_categories %}
                 <li class="list-group-item">
                     <div class="d-flex justify-content-between">
                        <p>
                            {{ each_category.category_name }}
                        </p>
                         <a class="btn btn-secondary" href={% url 'passwords:create_password' %}>Add New Password</a>
                     </div>
                 </li>
             {% endfor %}
         </ul>

    </div>

    <div class="container my-3">
        {% if not user_passwords %}
            <h3 class="my-4 text-warning">{{ request.user.username }}, YOU HAVEN"T STORED ANY PASSWORDS AS OF NOW!</h3>
            <p>
                Please Add a password now <a href={% url 'passwords:create_password' %}>by clicking here.</a>
            </p>
        {% else %}
            <h3 class="my-4 text-info">{{ request.user.username }}, YOU HAVE ({{ user_passwords.count }}) PASSWORDS SAVED.</h3>
            {% for each_password in user_passwords %}
                <div class="password_container">
                    <div class="text-group">
                        <p>
                            Category Name
                        </p>
                        <p>
                            {{ each_password.linked_category.category_name }}
                        </p>
                    </div>

                    <div class="text-group">
                        <p>
                            Password is related to
                        </p>
                        <p>
                            {{ each_password.password_belongs_to }}
                        </p>
                    </div>

                    <div class="text-group">
                        <p>
                            First Password Hint
                        </p>
                        <p>
                            {{ each_password.password_hint_one }}
                        </p>
                    </div>

                    <div class="text-group">
                        <p>
                            Second Password Hint
                        </p>
                        <p>
                            {{ each_password.password_hint_two }}
                        </p>
                    </div>

                    <div class="text-group">
                        <p>
                            Password Hint Image
                        </p>
                        <div class="image_container">
                            <img class="password_image" alt="Password hint image is not available."
                             src={{ each_password.hint_image.url }} />
                            <a class="btn btn-secondary my-2" href={% url 'passwords:detail_password' pk=each_password.id %}>View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}