<div class="container-fluid row">
    <div class="col-md-4">
        <h4 class="text-success text-center my-3">Streamline Password Management</h4>
        <p>
            - Create Categories for different passwords you need to manage.
        </p>
        <p>
            - You can have multiple hints for each password you store.
        </p>
        <p>
            - Add visual hint in form of image.
        </p>
        <p>
            - Easily update password hints or in case you have changed the password, update all the fields.
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="text-success text-center my-3">Easy To Use</h4>
        <p>
            - Multi-user and secured platform created in Django using cryptography module of Python.
        </p>
        <p>
            - Generate secured random passwords and store them in encrypted form, of course you can view them if required :).
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="text-success text-center my-3">Encrypted and Secured</h4>
        <p>
            Use file manager to store and encrypt your files using secured cryptographic techniques and libraries.
        </p>
    </div>
</div>