{% extends 'base.html' %}

{% block title %}
    Password Manager - Dashboard
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-primary my-3 text-center">DASHBOARD</h3>

        <p class="header_para">
            Hey <span class="lead m-1">{{ request.user.username }}</span>, This is your secret key <span class="highlight">{{ request.user.user_secret_key }}</span>
        </p>

        <p>
            This would be used to perform all
            your password and file encryption, please do not share this with others.
        </p>

        <ul class="list-group">
            <li class="list-group-item">CREATE A CATEGORY</li>
            <li class="list-group-item">CREATE A PASSWORD</li>
        </ul>
    </div>
{% endblock %}

