{% extends 'base.html' %}

{% block title %}
    Password Manager - Update Settings
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data" class="container">
    <h2 class="text-success my-3 text-center">UPDATE SETTINGS</h2>
        {% csrf_token %}

        <div class="form-group">
            <label for="email">Please Enter Your Email</label>
            <input type="email" class="form-control" name="email" id="email" value={{ user_data.email }} />
        </div>

        <div class="form-group">
            <label for="username">Please Enter Your Username</label>
            <input type="text" class="form-control" name="username" id="username" value={{ user_data.username }} />
        </div>

        <input type="submit" class="btn btn-success rounded shadow-sm mx-auto" value="Update Settings">
    </form>
{% endblock %}

